@import 'normalize.css/normalize';

@include focus-visible;

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  height: 100%;
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 100%;
  color: $text;
  font-family: 'Sonus', sans-serif;
  background: #f7f6ee;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
.main__topline {
  background: $white;
}

.backlink {
  color: $blue;
  position: relative;
  padding-left: 15px;
  font-size: 17px;
  font-family: 'Museo', sans-serif;
  &::before {
    position: absolute;
    content: '';
    left: 0;
    top: 3px;
    background: url('../images/chevron.svg') no-repeat center / cover;
    width: 6px;
    height: 10px;
  }
}

.main__topline {
  padding: 25px 60px 19px;
}

.image__wrap {
  height: 282px;
  position: relative;
  img {
    height: 100%;
    object-fit: cover;
  }
}

.image__tag {
  top: 24px;
  right: 28px;
  position: absolute;
  background: $white;
  padding: 10px 14px;
  font-size: 13px;
  color: $blue;
  font-family: 'Sonus', sans-serif;
}

.info-left__images {
  display: flex;
  align-items: center;
  margin-top: 22px;
}

.info-left__image {
  width: 66px;
  height: 66px;
  margin-right: 7px;
  &:last-child {
    margin-right: 0;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.info {
}
.info__wrap {
  background: $white;
  display: flex;
  justify-content: space-between;
  padding: 48px 59px 80px 60px;
  color: $blue;
  position: relative;
}

.info__title {
  font-family: 'Museo', sans-serif;
  font-weight: 900;
  font-size: 30px;
  line-height: 110%;
}

.info-left {
  max-width: 330px;
}

.info-right {
  max-width: 390px;
  background: radial-gradient(50% 50% at 50% 50%, #224b90 0%, #213b76 100%);
  color: $white;
  padding: 29px 34px;
}

.info__text {
  margin-top: 12px;
  font-size: 17px;
  line-height: 130%;
}

.info-right {
  ul {
    margin-top: 16px;
  }

  li {
    margin-bottom: 12px;
    position: relative;
    padding-left: 16px;
    &:before {
      content: '';
      position: absolute;
      width: 10px;
      top: 2px;
      left: 0;
      height: 12px;
      background: url(../images/check.svg) no-repeat center / contain;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.info-right__title {
  font-size: 23px;
  font-family: 'Museo', sans-serif;
  font-weight: 900;
}

.info-persons {
  margin-top: 30px;
  display: flex;
  align-items: center;
  p {
    margin-left: 6px;
  }
}

.info__wrap_border {
  position: absolute;
  width: 100%;
  height: 6px;
  bottom: 0;
  left: 0;
  // border-top: 1px solid #c2a37e;
  // border-bottom: 1px solid #c2a37e;
  background: linear-gradient(90deg, #915d29 0%, #ffd480 100%);
}

.info__wrap .btn {
  position: absolute;
  bottom: -22px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

@media (max-width: 900px) {
  .main__topline {
    padding: 25px 26px 19px;
  }

  .info__wrap {
    flex-direction: column;
    align-items: center;
    padding: 48px 0 80px 0;
  }

  .info__title {
    text-align: center;
  }

  .info__text {
    text-align: center;
  }

  .info-left__images {
    justify-content: center;
  }

  .info-persons {
    justify-content: center;
  }

  .info-right {
    margin-top: 30px;
  }
}

@media (max-width: 550px) {
  .info__wrap .btn {
    width: 100%;
    max-width: 304px;
  }
}
